/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: black
}

/* Cabeçalho */
header {
    background: black;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Menu Hambúrguer (Mobile) */
nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 20px;
    font-size: 16px;
}

#menu-toggle {
    display: none;
}

#menu-icon {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    #menu-toggle:checked + nav ul {
        display: flex;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        padding: 10px;
    }
}

/* Seções */
section {
    padding: 2rem;
    text-align: center;
}

#inicio {
    background-image: url('juridico.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

#inicio h1 {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px 40px;
}

#escritorio, #servicos, #equipe, #localizacao {
    background: #eaeaea;
}

#escritorio{
    background-size: cover;
}

#servicos {
    background-size: cover;
}

#equipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.conteudo {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.descricao {
    width: 70%;
    padding-right: 30px;
}

.descricao h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.descricao p {
    font-size: 18px;
    line-height: 1.6;
}

.carrossel-container {
    position: relative;
    width: 30%;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrossel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.descricao-imagem {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
    text-align: center;
}

/* Botões de Navegação */
.carrossel-container button{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 0.5rem 1rem;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

button:hover {
    background-color: gray;
    color: black;
}

#contato {
    background: #f9f9f9;
}

h1, h2 {
    color: black;
}

/* Rodapé */
footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    #inicio h1 {
        font-size: 8vw;
    }

    .descricao {
        width: 100%;
        padding-right: 0;
    }

    .carrossel-container {
        width: 100%;
        margin-top: 20px;
    }

    .conteudo {
        flex-direction: column;
    }

    .carrossel {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
        background: gray;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    #menu-toggle:checked + nav ul {
        display: flex;
    }
}

/* Localização */
#localizacao {
    background: #eaeaea;
    padding: 2rem;
}

#mapa iframe {
    width: 100%; /* Garantir que o iframe ocupe 100% da largura da tela */
    height: 300px; /* Ajustar a altura do mapa */
    border: 0;
    border-radius: 10px; /* Para deixar os cantos arredondados */
}

@media (max-width: 768px) {
    #mapa iframe {
        height: 250px; /* Ajustar a altura para telas menores */
    }
}

